<ion-content [fullscreen]="true">
  <ion-list class="ion-margin ion-text-center">
    <img src="assets/imgs/nature love.png" />
    <!-- <ion-list-header><ion-label color="light">LOGO</ion-label></ion-list-header> -->
    <ion-button color="white" expand="block" shape="round" routerLink="login">Login with Username</ion-button>
    <ion-button color="white" expand="block" shape="round">Login with Google</ion-button>
    <ion-text color="white"><p>New User? Sign up.</p></ion-text>
  </ion-list>
</ion-content>
